@tailwind base;
@tailwind components;
@tailwind utilities;

/* Extras opcionales */

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden; /* Evita scroll horizontal */
  font-family: sans-serif;
  scroll-behavior: smooth;
  background-color: #ffffff; /* fondo por defecto */
}

a {
  text-decoration: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  animation: marquee 20s linear infinite;
}
:root {
  --font-barlow: 'Barlow Condensed', sans-serif;
}
